:root {
  --font-family: "Jost", sans-serif;
  --purple: #9395D3;
  --purple-background: #D6D7EF;
  font-size: 90%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 74px;
  background-color: var(--purple);
}

h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 2.4rem;
  color: #fff;
  margin-left: 20px;
}

header > a {
  margin-right: 20px
}

main {
  background-color: var(--purple-background);
  width: 100%;
  height: auto;
  min-height: calc(100vh - 142px);
  position: relative;
}

.main__cases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 82px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 21px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.case__title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--purple);
}

.case__title > span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

.case__title > div:first-child {
  display: flex;
  align-items: center;
}

.case__title p {
  margin-left: 10px;
}

.case__icons {
  display: flex;
  gap: 20px;
  margin-right: 25px;
}

.case__icons > button {
  cursor: pointer;
}

.add__case {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: 22px;
  bottom: 22px;
  position: absolute;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 68px;
  background-color: #fff;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--purple);
}

@media screen and (max-width: 414px) {
  :root {
    font-size: 70%;
  }

  .case {
    width: 400px;
  }

}
